/*colors*/
#colors{
color: #A3431A;
color: #EE6B32;
color: #FCE9D4;
}
/**/
* {
    margin: 0;
}
p {
    font-size: 3vmin;
    word-wrap: normal;
}
h4 {
    font-size: 4vmin;

}
h5 {
    font-size: 3vmin;
}
.indent {
    padding:0 10vmin;
}
.box-indent {
    padding:0 5vmin;
}
.underline {
    border-bottom: .75vmin solid #EE6B32;
    width: 30vmin;
    margin:0 10vmin;
}
/*Header*/
.inline {
    display: inline;
}

.right{
    float: right;
}

header {
    background-color: #EE6B32;
    padding: 20px 10px;
    color: white;
}
nav {
    display: inline-block;
}
nav ul{
    margin: .5em;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    
}
nav ul li a:hover {
    color: #A3431A;
}
.active-page {
    color: #A3431A;
}

/*Main*/
main {
    background-color: #FCE9D4;
    padding-bottom: 20px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
/*form*/
.form {
    background-color: white;
    justify-content: center;
    align-items: center;
    margin: 0vmin 10vmin 3vmin 10vmin;
    border: .75vmin solid #EE6B32;
    border-radius: 20px;
    padding-top: 0;
    display: flex;
    justify-content: space-around;
}
input[type=text], select {
    width: 100%;
    padding: 6px 20px;
    margin: 3vmin;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: #EE6B32;
    opacity: .75;
  }
textarea{
    width: 100%;
    padding: 6px 20px;
    margin: 3vmin;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: #EE6B32;
    opacity: .75;
}
label {
    margin-top: 20px;
    padding: 6px 0px 6px 20px;
}
input[type=submit], select {
    margin-left: 20px;
    background-color: #A3431A;
    color: white;
    border: .1px solid transparent;
    border-radius: 15px;
    opacity: .75;
    margin-bottom: 20px;
    width: 11vmin;
    height: 7vmin;
    font-size: 20px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    cursor: pointer;
    padding: 4px;
}

input[type=reset], select {
    margin-left: 20px;
    background-color: #A3431A;
    color: white;
    border: .1px solid transparent;
    border-radius: 15px;
    opacity: .75;
    margin-bottom: 20px;
    width: 11vmin;
    height: 7vmin;
    font-size: 20px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    cursor: pointer;

}
.button, select {
    margin-left: 20px;
    background-color: #A3431A;
    color: white;
    border: .1px solid transparent;
    border-radius: 15px;
    opacity: .75;
    margin-bottom: 20px;
    padding: 2vmin;
    font-size: 20px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    cursor: pointer;

}
#crust{
    margin-left: 20px;
    background-color: #A3431A;
    color: white;
    border: .1px solid transparent;
    border-radius: 15px;
    opacity: .75;
    margin-bottom: 20px;
    width: 100%;
    height: 8vmin;
    font-size: 20px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    cursor: pointer;  
}
#state{
    margin-left: 20px;
    background-color: #A3431A;
    color: white;
    border: .1px solid transparent;
    border-radius: 15px;
    opacity: .75;
    margin-bottom: 20px;
    width: 100%;
    height: 8vmin;
    font-size: 20px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    cursor: pointer;  
}
input[type=checkbox] {
    display: none;
}

/*Contact Form*/
.lobby {
    border: .75vmin solid #EE6B32;
    height: 400px;
    margin-right: 19.920px;
}
.contact-form {
    width: 50%;
}
/*Order Form*/
.order-form {
    width: 40%;
}
.order-form {
    width: 40%;
}
/*box*/
.box {
    background-color: white;
    justify-content: center;
    align-items: center;
    margin: 0vmin 10vmin 3vmin 10vmin;
    border: .75vmin solid #EE6B32;
    border-radius: 20px;
    padding-top: 0;
    display: flex;
    justify-content: space-around;
}
/*images*/
.slice {
    border: .75vmin solid #EE6B32;
    width: 240px;
    height: 160.666;
    margin: 5vmin;
}
.topping-img {
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2vmin 5vmin 3vmin 5vmin;
    border: .75vmin solid #EE6B32;
    border-radius: 20px;
    width: 150px;
    height: 150px;
}
.topping-img:hover {
    background-color: #A3431A;
}
.button-clicked{
    background-color: #A3431A;
}
/*topping-box*/
.topping-box {
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2vmin 5vmin 3vmin 5vmin;
    border: .75vmin solid #EE6B32;
    border-radius: 20px;
    width: 110px;
    height: 110px;
}
.toppings {
    justify-content: center;
    align-items: center;
    padding-top: 0;
    display: flex;
    justify-content: space-around;
}
/*schedule*/
.schedule-element {
    text-align: center;
}
/*footer*/
footer {
    background-color: #EE6B32;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 10px;
    color: wht;
}